*.suo
*.sln.docstates
*.ilk
*.lib
*.exp
*.pdb
*.aps
*.sdf
*.opensdf
*.opendb
*.7z
resources/*.mat

.vs/
bin/
obj/
build/engine/Editor/x64
err_compile*
resources/.import/*
build/installer/packages/com.framer.engine/data

Makefile.*
AdvancedDockingSystem_x64_resource.rc
AdvancedDockingSystem_x64d_resource.rc



