*.suo
*.user
*.sln.docstates
*.ilk
*.lib
*.exp
*.pdb
*.aps
*.sdf
*.opensdf
*.opendb
*.7z

.vs/
bin/
resources/log.txt
resources/scene.yaml
src/shaders/out.shader
resources/out_f.shader
resources/out_v.shader

